* {
    box-sizing:border-box;
    font-family:Arial
}

body {
    background:#0f172a;
    color:#e5e7eb;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0
}

.container {
    background:#020617;
    padding:30px;
    width:440px;
    border-radius:10px;
    box-shadow:0 0 25px rgba(0,0,0,.6)
}

h1 {
    text-align:center;
    color:#38bdf8;
    margin-bottom:20px
}

label {
    font-size:14px;
    color:#94a3b8
}

input,select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border-radius:6px;
    border:none;
    background:#020617;
    color:#e5e7eb;
    outline:1px solid #334155
}

button {
    width:100%;
    padding:12px;
    background:#38bdf8;
    border:none;
    border-radius:6px;
    font-weight:bold;
    color:#020617;
    cursor:pointer
}

button:hover{background:#0ea5e9}

.resultado {
margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    outline: 1px solid #334155;
    font-size: 13px;
    white-space: pre-wrap;       
    word-break: break-all;       
    overflow-wrap: break-word;    
}

.erro {
    color:#f87171;
    font-size:13px;
    margin-top:10px
}
.footer{
    text-align:center;
    font-size:11px;
    color:#475569;
    margin-top:15px
}